<%= form_with model: @item, local: true do |f|%>
  <div class="field">
    <%= f.label :name, "アイテムの名前" %><br />
    <%= f.text_field :name, id:"item_name" %>
  </div>

  <div class="field">
    <%= f.label :description, "説明文" %><br />
    <%= f.text_area :description, class: :form__text, id:"item_description" %>
  </div>

  <div class="field">
    <%= f.label :image, "アイテムの画像" %><br />
    <%= f.file_field :image, id:"item_image" %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      カテゴリー
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      ソフトウェア
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:software_id, Software.all, :id, :name, {}, {class:"select-box", id:"item-software"}) %>
  </div>

  <div class="field">
    <%= f.label :version, "ソフトウェアのバージョン" %><br />
    <%= f.text_field :version, id:"item_version" %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      オペレーティングシステム
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:operating_system_id, OperatingSystem.all, :id, :name, {}, {class:"select-box", id:"item-operating-system"}) %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      ステータス
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"item-status"}) %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>